
{% extends "base.html" %}

{% block title %}Booking for {{competition['name']}} || GUDLFT{% endblock %}

{% block body %}
<div class="container mt-4">

    <h2>{{competition['name']}}</h2>

    <div class="container mt-2">
        <p class="text-uppercase text-muted">Points available: {{club['points']}}</p>
        <hr>

        <form action="/purchasePlaces" method="post">
            <div class="box">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">How many places?</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="inputPassword6" class="form-control" name="places" aria-describedby="passwordHelpInline">
                    </div>    
                    <div class="col-auto">
                        <button class="btn btn-primary btn-sm" type="submit">Book</button>
                    </div>
                </div>
                <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                        You have between 0 and {{club['points']}} passes available.
                        {# from the {{comp['numberOfPlaces']}} free places #}
                        </span>
                </div>    
            </div>
        </form>
    </div>  

</div>

{% endblock %}