{% extends "base.html" %}

{% block title %}GUDLFT Registration{% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} mt-4" role="alert">
      <h5>{{ message }}</h5>
    </div>
    {% endfor %}
    
  {% endif %}
{% endwith %}

{% if not "user" in session %}
<div class="card mx-auto" style="max-width: 1000px;">
    <div class="row mx-auto mb-4">
      <h1>Welcome to the GUDLFT Registration Portal</h1>
      <hr>
    </div>
    
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for ('static', filename='img/RegistrationImage.jpeg') }}" class="img-fluid rounded-start" alt="...">
      </div>

      <div class="col-md-8 mt-4">
        <div class="card-body">
          <h5 class="card-title mb-4">Please enter your secretary email to continue:</h5>
          <form action="showSummary" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="" placeholder="email@example.com"/>
            <button class="btn btn-primary btn-sm" type="submit">Enter</button>
        </form>   
        </div>
      </div>

    </div>
  </div>
{% endif %}

<div class="cont-welcome">

  <h3>Points available for each club</h3>
  <hr>

  <table class="table table-hover table-warning mt-4" id="table-points_club">
      <thead>
          <tr>
            <th scope="col">Club Nom</th>
            <th scope="col">Number of points availables</th>
          </tr>
        </thead>
        <tbody>
          {% for club in clubs %}
          <tr>
            <td>{{club['name']}}</td> 
            <td>{{club['points']}}</td>    
          </tr>
          {% endfor %}
        </tbody>
  </table>

</div>

{% endblock %}