{% extends "base.html" %}

{% block title %}Summary | GUDLFT Registration{% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} mt-4" role="alert">
      <h5>{{ message }}</h5>
    </div>
    {% endfor %}
    
  {% endif %}
{% endwith %}

    <div class="container">
        <h5 class="p-1" id="welcome">Welcome, {{club['email']}}</h5>
        
        <h3>Competitions</h3>
        <hr>

        <p class="text-uppercase text-muted">Club points available : {{club['points']}}</p>
        <hr>
    
        <table class="table table-success table-striped" id="table-welcome">
            <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Date</th>
                  <th scope="col">Number of Places</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for comp in competitions %}
                <tr>
                {% if (comp['numberOfPlaces']|int >0) and ( comp['in_the_past'] != True ) %}
                  <td>{{comp['name']}}</td> 
                  <td>{{comp['date']}}</td>
                  <td>{{comp['numberOfPlaces']}}</td>    
                  <td><a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a></td>
                {% endif %}
                </tr>
                {% endfor %}
              </tbody>
        </table>
        <hr>
                
        <h5 class="mb-3 mt-4"><u>List of past competitions</u></h5>
        {% for comp in competitions %}
        <ul>
          {% if (comp['numberOfPlaces']|int >0) and ( comp['in_the_past'] != False ) %}
          <li>
            <strong>{{comp['name']}}</strong> :  {{comp['date']}} | {{comp['numberOfPlaces']}} places |
          </li>
          {% endif %}
        </ul> 
        {% endfor %}         

    </div>


{% endblock %}